/*Basics*/

* {
	margin: 0px;
    padding: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}

/*Youtube Side Menu bar*/

nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	background-color: #444;

}

.logo{
	color: #d4af37;
	text-transform: uppercase;
	letter-spacing: 1px;
	font size: 20px;
	margin-left: 0;
}

.nav-links{
	display:flex;
	justify-content: space-around;
	width:45%;
}

.nav-links li{
	list-style: none;
}

.nav-links a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 12px;
}

.burger{
	display: none;
	cursor: pointer;
}

.burger div{
	width: 25px;
	height: 3px;
	background-color:#fff;
	margin:5px;
	transition: all 0.3s ease;
}

@media screen and (max-width: 1024px){
	.nav-links{
		width: 50%;		
	}
}

@media screen and (max-width: 768px){
	body{
	}
	.logo{
	color: #d4af37;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	font size: 10px;
	margin-left: 0;
}
	.nav-links{
		position: fixed;
		right:0px;
		height: 92vh;
		top: 8vh;
		background-color: #444;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 50%;
		transform: translateX(100%);
		z-index: 100;
	}
	.nav-links li{
		opacity: 0;
	}
	.burger{
		display: block;
	}

	.nav-active{
	transform: translateX(0%);
	transition: transform 0.5s ease-in;	
}
}


@keyframes navLinkFade{
	from{
		opacity: 0;
		transform: translateX(50px);
	}
	to{
		opacity: 1;
		transform: translateX(0px);
	}
}

.toggle .line1{
  transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
  opacity: 0;
}

.toggle .line3{
  transform: rotate(45deg) translate(-5.5px,-6.5px);
}


/*Youtube Side Menu bar*/

body {
	font-size: 17px;
	color: #444;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: #fff; 
	
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Arimo', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	color: #d4af37;
	margin: 0;
	padding: 0; 
}

h2 { font-size: 60px;}
h3 { font-size: 54px;}
h4 { font-size: 32px;}
h5 { font-size: 21px;}
h6 { font-size: 18px;}

p {
	line-height: 1.4;
	margin: 20px 0;
}

p.subtitle {
	font-family: 'Arimo', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.03em;
	color: #241C15;
	text-align: center;
}

p.footer{
	font-family: 'Arimo', sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 0.03em;
	color: #d4af37;
	text-align: center;
}

img{
	width:370px;
	height: 370px;
}


ul, li {
	list-style: none;
	margin: 0;
	padding: 0; 
}

a {
	text-decoration: none; 
	color: #fff;
}

a:hover {
	text-decoration: none; 
	color: #d4af37;
}

.clear {
	clear: both;
}

.wrapper {
	max-width: 1190px;
	margin: 0 auto;
	position: relative; 
}

.coffee{
	color: #d4af37;
}

.buttons {
	width: auto;
	margin: 0 auto;
	text-align: center;
}

a.button-1, a.button-2, button {
	color: #fff;
	border: 2px solid #444;
	border-radius: 999px;
	margin-top: 2px;
	margin-left: 10px;
	font-family: 'Arimo', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 18px;
	letter-spacing: 0.03em;
	display: inline-block;
	width: 220px;
	margin: 10px;
	text-align: center;
	padding: 18px 0;
}

a.button-1, a.button-2{
	background: none;
	color: #444;
}

a.button-1:hover , a.button-2:hover{
	background: #444;
	color: #d4af37;
}

@media only screen and (max-width: 768px) {
	a.button-1, a.button-2 {
		font-size: 15px;
		margin: 5px;
		padding: 10px 0;
	}
}

/*Banner*/

#banner {
	height: 840px;
	background: #f1f6f4;
	position: relative;
	padding: 1px 0 0 0;
}

#banner h2 {
	margin: 220px auto 0;
	padding: 0 5%;
	opacity: 0.9;
	color: #333;
	font-size: 108px;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 0.03em;
}


#banner p.subtitle {
	font-size: 20px;
	margin: 10px 0 50px 0;
}


@media only screen and (max-width: 1024px) {
	#banner h2 {
		font-size: 400%;
		margin-top: 100px;
		padding: 0;
		width: 100%;
	}
}

@media only screen and (max-width: 768px) {
	#banner h2 {
		font-size: 64px;
		margin-top: 64px;
	}
	#banner p.subtitle {
	 font-size: 16px;
	 margin: 10px 0 30px 0;
	}
}

@media only screen and (max-width: 1024px) {
	#banner {
		height: 420px;
		width: auto;
	}
}

@media only screen and (max-width: 768px) {
	#banner {
		height: 430px;
		width: auto;
	}
}


/*Text Section*/

.text-section {
	text-align: left;
	padding: 100px 0;
	background: #fff;
}

.text-section p.subtitle {
	text-align: left;
	color: #241C15;
	font-size: 17px;
	margin-bottom: 40px;
}

.text-section .image {
	text-align: center;
}

.text-section .image.align-left {
	float: left;
	width: 50%;
	padding: 0 20px;
}

.text-section .text.align-left {
	float: left;
	width: 50%;
	padding: 0 10% 0 40px;
}

.text-section .image.align-right {
	float: right;
	width: 50%;
	padding: 0 20px;
}

.text-section .text.align-right{
	float: right;
	width: 50%;
	padding: 0 40px 0 10%;
}

.text-section .image.align-center {
	
}

.text-section .text.align-center {
	text-align: center;
	width: 80%;
	margin: 0 auto;
}

.text-section .text.align-center p.subtitle {
	text-align: center;
}

.text-section ul.list-checkmarks {
	margin-top: 40px;
}

ul.list-checkmarks li {
	text-align: left;
	list-style-image: none;
	background-position: 0 2px;
	margin: 10px 0;
	padding: 0 10px 10px 40px;
}

/*Responsive Meida*/

@media only screen and (max-width: 800px) {
	.text-section .text {
		float: none!important;
		text-align: center;
	}
	.text-section .text.align-right, 
	.text-section .text.align-left,
	.text-section .image.align-right,
	.text-section .image.align-left {
		width: 100%;
	}
	.text-section .image {
		float: none!important;
		width: 80%!important;
		padding: 0 20px;
		margin: 0 auto 60px auto;
	}
	.text-section .text p.subtitle {
		text-align: center;
	}
}

/*\Gallery Section*/

.gallery-section {
	text-align: center;
	padding: 100px 0;
	background: #fff;
}

.gallery-section p.subtitle {
	color: #241C15;
	font-size: 17px;
}

ul.gallery-list {
	width: 90%;
	max-width: 1190px;
	margin: 80px auto 60px;
}

ul.gallery-list li {
	display: inline-block;
	float: left;
	width: 30.3%;
	background: #fff;
	padding: 0;
	margin: 1.5%;
}

ul.gallery-list li a:hover {
	opacity: .5;
}

@media only screen and (max-width: 960px) {
	ul.gallery-list li {
		display: block;
		width: 100%;
		margin: 80px 0!important;
	}
	ul.gallery-list li:first-of-type {
		margin-top: 0!important;
	}
}


/*Contact Section*/

/*Text Section*/

.contact-section {
	text-align: left;
	padding: 100px 0;
	background: #fff;
}

.contact-section p.subtitle {
	text-align: left;
	color: #241C15;
	font-size: 17px;
	margin-bottom: 40px;
}

.contact-section .image {
	text-align: center;
}

.contact-section .image.align-left {
	float: left;
	width: 50%;
	padding: 0 20px;
}

.contact-section .text.align-left {
	float: left;
	width: 50%;
	padding: 0 10% 0 40px;
}

.contact-section .image.align-right {
	float: right;
	width: 50%;
	padding: 0 20px;
}

.contact-section .text.align-right{
	float: right;
	width: 50%;
	padding: 0 40px 0 10%;
}


.contact-section .text.align-center {
	text-align: center;
	width: 80%;
	margin: 0 auto;
}

.contact-section .text.align-center p.subtitle {
	text-align: center;
}

.contact-section ul.list-checkmarks {
	margin-top: 40px;
}

.email-list-section {
	background: #f1f6f4;
	padding: 100px 0;
	color: #fff;
}

.email-list-section h3 {
	color: #d4af37;
	text-align: center;
}

.email-list-section p.subtitle {
	color: #241C15;
	font-size: 17px;
}

.email-list-section form {
	width: auto;
	text-align: center;
	margin: 40px auto 0 auto;
}

.email-list-section input[type=text] {
	color: #444;
	font-family: 'Arimo', sans-serif;
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	border: 1px solid #444;
	margin: 12px 10px;
	padding: 10px,10px;
}

.email-list-section input[type=text]:focus {
	outline: none;
	color: #d4af37;
}

.email-list-section button {
	background: none;
	color: #444;
	border: 2px solid #444;
	border-radius: 999px;
	font-family: 'Arimo', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 15px;
	letter-spacing: 0.03em;
	display: inline-block;
	margin: 30px auto 0 ;
	padding: 10px, 10px;
}

.email-list-section button:hover{
	background: #444;
	color: #d4af37;
}

/*Responsive Meida*/
@media only screen and (max-width: 768px) {
	.email-list-section button {
		font-size: 15px;
		margin-top: 25px;
		padding: 10px 0;
	}
}


/*Pricing Section*/

.pricing-section {
	text-align: center;
	padding: 100px 0;
	background: #f9f9f9;
}

.pricing-section p.subtitle {
	color: #444;
	font-size: 17px;
}

ul.pricing-table {
	width: 90%;
	margin: 100px auto 60px;
}

ul.pricing-table li {
	display: inline-block;
	float: left;
	width: 30.66%;
	background: #fff;
	padding: 60px 0;
	margin: 0 2%;
}

ul.pricing-table li:hover {
	box-shadow: 0px 0px 40px rgba(0,0,0,.1);
}

.price-container {
	font-family: 'Arimo', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	position: relative;
	width: 200px;
	margin: 0 auto;
}

.price-container .currency-symbol {
	font-size: 21px;
	position: absolute;
	top: 15px;
	left: 40px;
}

.price-container .price {
	font-size: 86px;
}

.price-container .terms {
	font-size: 21px;
}

ul.pricing-table li p {
	width: 80%;
	margin: 20px auto 40px auto;
}

ul.pricing-table li a {
	font-family: 'Arimo', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	color: #5dae87;
}

ul.pricing-table li a:hover {
	color: #42966e;
}

ul.pricing-table li:first-of-type {
	margin-left: 0;
}

ul.pricing-table li:last-of-type {
	margin-right: 0;
}

ul.pricing-table ul.features {
	margin: 30px 0 30px 0;
}

ul.pricing-table .button-1 {
	color: #777;
	border-color: #777;
}

ul.pricing-table .button-2 {
	color: #777;
	border-color: #777;
}

ul.pricing-table .button-1:hover {
	background: #444;
	color: #d4af37;
}

ul.pricing-table .button-2:hover {
	background: #444;
	color: #d4af37;
}

ul.pricing-table ul.features li {
	display: block;
	width: 100%;
	margin: 0px 0;
	padding: 10px;
	font-family: 'Arimo', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	color: #bbb;
}

ul.pricing-table ul.features li:hover {
	box-shadow: none;
}

@media only screen and (max-width: 960px) {
	ul.pricing-table li {
		display: block;
		width: 100%;
		margin: 20px 0!important;
	}
}

/*Footer*/

footer {
	background: #444;
	margin-top: 0px;
	color: #d4af37;
	text-align: center;
	padding: 60px 0;
}

footer a.logo {
	display: block;
	float: left;
	color: #d4af37;
	text-indent: -4999px;
	background: url(../images/logo-footer.png) no-repeat;
	margin: 0 0 0 40px;
	padding: 0 0 40px 0;
	width: 56px;
	height: 74px;
}

footer .footer-left {
	float: left;
	text-align: left;
	margin-top: 5px;
	margin-left: 50px;
}

footer .footer-right {
	float: right;
	margin-top: 20px;
	text-align: right;
}

footer p {
	font-size: 17px;
	margin: 5px;
}

footer p.copyright {
	font-family: 'Arimo', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
}

footer .footer-links {
	color: #777;
}

footer .footer-links a {
	color: #777;
	margin: 0 20px;
}

footer .footer-links a:hover {
	color: #d4af37;
}

footer .footer-links a:first-of-type {
	margin: 0 20px 0 0;
}

footer .footer-right a.social {
	display: inline-block;
	width: 44px;
	height: 44px;
	background: no-repeat center;
	text-indent: -4999px;
	overflow: hidden;
	text-align: left;
	background-color: #363636;
	border-radius: 999px;
	margin-left: 10px;
}

footer .footer-right a.social:hover {
	background-color: #d4af37;
}

footer a.social.facebook {
	background-image: url(../images/social-facebook.png);
}
footer a.social.twitter {
	background-image: url(../images/social-twitter.png);
}
footer a.social.google {
	background-image: url(../images/social-google.png);
}

@media only screen and (max-width: 960px) {
	footer {
		padding: 30px 0;
	}
	footer .footer-left, footer .footer-right, footer a.logo {
		float: none;
		text-align: center;
		margin: 0 auto;
	}
	footer .footer-left {
		margin-bottom: 20px;
	}
	footer a.logo {
		 margin: 10px auto 40px auto;
	}
	footer .footer-links a {
		margin: 0 5px!important;
		font-size: 14px;
	}
}